{{ $missing_src := "missing value for 'src': %s" }}
{{ $missing_0 := "missing value for positional param '0' (corresponds to 'src' ): %s" }}
{{ $src := "" }}

{{ if .IsNamedParams }}
    {{ with .Get "src" | safeURL}}{{ $src = . }}
    {{ else }}{{ errorf $missing_src .Position }}
    {{ end }}
{{ else }}
    {{ if len .Params | eq 1 }}{{ $src = .Get 0}}
    {{ else }}{{ errorf $missing_0 .Position }}
    {{ end }}
{{ end }}

<div id="{{ $src }}"></div>


{{ if .IsNamedParams }}
<script>
    AsciinemaPlayer.create(
        "{{ $src }}",
        document.getElementById("{{ $src }}"),
        {
            {{ with .Get "cols" }} cols: {{ . }}{{ end }}
            {{ with .Get "rows" }} rows: {{ . }}{{ end }}
            {{ with .Get "autoplay" }} autoplay: {{ . }}{{ end }}
            {{ with .Get "preload" }} preload: {{ . }}{{ end }}
            {{ with .Get "loop" }} loop: {{ . }}{{ end }}
            {{ with .Get "start-at" }} startAt: {{ . }}{{ end }}
            {{ with .Get "speed" }} speed: {{ . }}{{ end }}
            {{ with .Get "idle-time-limit" }} idleTimeLimit: {{ . }}{{ end }}
            {{ if .Get "theme" }}theme: "{{ .Get "theme" }}", {{ end }}
            {{ if .Get "poster" }}poster: "{{ .Get "poster" }}", {{ end }}
            {{ if .Get "fit" }}fit: "{{ .Get "fit" }}", {{ end }}
            {{ if .Get "font-size" }}fontSize: "{{ .Get "font-size" }}", {{ end }}
        }
    )
</script>
{{ else }}
    <script>AsciinemaPlayer.create("{{ $src }}", document.getElementById("{{ $src }}"));</script>
{{ end }}
